.container {
<<<<<<< HEAD
    grid-template-columns: 2fr 7fr 2fr 1fr;
    grid-template-rows: 1fr ;
=======
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 7fr 2fr ;
>>>>>>> 8cf355023014e8437907dad47b6b9c0c03ecb8b7
}

.logonavigation {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: darkred;
}

.gridbox {
    grid-column: 1/4;
    grid-row: 2/4;
    background-color: gray;
}

.square1 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: aliceblue;
}

.square2 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: hotpink;
}

.square3 {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: dodgerblue;
}

.footer {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: brown;
}

.child {
    flex: 20%;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border: 1px solid black;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap; 
}
